<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
 

  <div class="container-fluid fix">
    <div class="row">
      <div class="col-2 mt-3">
         <div class="box">
          <table class="table border">
            <tr>
              <th>Files</th>
              
            </tr>
            {% for i in doc %}
            <tr>
          <td><a href="{{i.file.url}}" target="_blank">{{i.name}}</a></td>
              
            </tr>
              

            {% endfor %}
          </table>
          
        </div>
      </div>
      <div class="col-7">
        <form action="" class="mt-5">
          <div class="form-group">
            <label for="">ORM quary editor</label>
            <input type="text" class="form-control"   id="book_name">
          </div>
          
          <button type="button" class="btn btn-primary mb-5" onclick="Query()" name="button">Run</button>
        </form>
      </div>
      <div class="col-3 mt-3">
        <div class="box">
          <table class="table border">
            <tr>
              <th>Table</th>
              <th>records</th>
            </tr>
            {% for i in d %}
            <tr>
              <td><a href="#" onclick="Table('{{i.q}}')">{{i.Table}}</a></td>
              <td>{{i.count}}</td>
            </tr>
              

            {% endfor %}
          </table>
          
        </div>
      </div>
    </div>
    
  </div>
  <div id='show'>
    
  </div>
  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>